.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column{
  width: 30%;
}

.droppable-col{
  width: 100%;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.grey{
  background-color: #727070;
}

.green{
  background-color: forestgreen;
}

.blue{
  background-color: cornflowerblue;
}

.item{
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid whitesmoke;
  padding: 5px;
  border-radius: 4px;
}

.input{
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.input-area{
  padding: 7px;
  border-radius: 3px;
}

.button{
  padding: 7px;
  margin-left: 5px;
  border-radius: 3px;
}